<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- other third party dependencies -->
    <script src="lib/parse/parse.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/config/loading-config.constant.js"></script>
    <script src="js/config/parse.config.js"></script>
    <script src="js/posts/feed.controller.js"></script>
    <script src="js/posts/posts.factory.js"></script>
  </head>
  <body ng-app="climatic" ng-cloak>

    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title">Climatic</h1>
      </ion-header-bar>
      <ion-content ng-controller="FeedController as $ctrl">
        <ul class="list">
          <li class="item item-thumbnail-left" ng-repeat="post in $ctrl.posts">
            <img ng-src="{{:: post.picture.url }}">
            <h2>{{:: post.title }}</h2>
            <p>{{:: post.description }}</p>
          </li>
        </ul>
        <ion-infinite-scroll
          ng-if="$ctrl.hasMorePosts"
          on-infinite="$ctrl.loadNext()"
          immediate-check="false"></ion-infinite-scroll>
      </ion-content>
    </ion-pane>
  </body>
</html>
