<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <button class="button button-icon button-icon-small icon ion-close-round" ng-click="$ctrl.cancel()"></button>
    <h1 class="title">Add Post</h1>
    <button class="button button-icon button-icon-small icon ion-checkmark-round" ng-click="$ctrl.save()"></button>
  </ion-header-bar>
  <ion-content>
    <form name="$ctrl.form" ng-submit="$ctrl.save()" novalidate="novalidate">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Title</span>
          <input type="text" placeholder="Title" ng-model="$ctrl.formData.title">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Description</span>
          <textarea placeholder="Description" ng-model="$ctrl.formData.description" msd-elastic="\n"></textarea>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
