<ion-view view-title="Climatic">
  <ion-content>
    <ul class="list">
      <li ng-repeat="item in $ctrl.posts">
        <a ui-sref="post({id:item.objectId})" class="item item-thumbnail-left item-icon-right">
          <img ng-src="{{:: item.picture.url }}">
          <h2>{{:: item.title }}</h2>
          <p>{{:: item.description }}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </li>
    </ul>
    <ion-infinite-scroll
      ng-if="$ctrl.hasMorePosts"
      on-infinite="$ctrl.loadNext()"
      immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>
